# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Step 2. Import the dataset [wind.csv](https://github.com/guipsamora/pandas_exercises/blob/master/Stats/Wind_Stats/wind.data) from the folder

In [81]:
pd.read_csv('F:/analytix_labs/2. Pandas Basic Exercises/Exercise Data Files\Pandas Exercise Date Time Operations Files/wind.data')

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [82]:
df_wind=pd.read_csv('F:/analytix_labs/2. Pandas Basic Exercises/Exercise Data Files\Pandas Exercise Date Time Operations Files/wind.data')
df_wind.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [83]:
df_wind['Date']=df_wind['Yr'].astype(str)+'-'+df_wind['Mo'].astype(str)+'-'+df_wind['Dy'].astype(str)
df_wind.head()
df_wind.Date.unique()
#df_wind.drop(['Yr','Mo','Dy'],axis=1,inplace= True)

array(['61-1-1', '61-1-2', '61-1-3', ..., '78-12-29', '78-12-30',
       '78-12-31'], dtype=object)

In [84]:
df_wind.Date=pd.to_datetime(df_wind.Date,format = '%y-%m-%d')
df_wind.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,2061-01-01
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,2061-01-02
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,2061-01-03
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,2061-01-04
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,2061-01-05

### Step 4. Year 2061 is seemingly imporoper. Convert every year which are < 70 to 19XX instead of 20XX.

In [207]:
#df_wind.Date=df_wind.Yr.apply(lambda x : df_wind.Date +pd.DateOffset(years=-100) if x < 70 else df_wind.Date)

In [85]:
df_wind.Date=pd.Series(np.where(df_wind.Yr < 70 ,df_wind.Date +pd.DateOffset(years=-100),df_wind.Date))

In [86]:
df_wind.Date.unique()

array(['1961-01-01T00:00:00.000000000', '1961-01-02T00:00:00.000000000',
       '1961-01-03T00:00:00.000000000', ...,
       '1978-12-29T00:00:00.000000000', '1978-12-30T00:00:00.000000000',
       '1978-12-31T00:00:00.000000000'], dtype='datetime64[ns]')

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [87]:
df_wind1=df_wind

In [88]:
df_wind1.set_index('Date',inplace = True)

In [212]:
#df_wind.Date.unique()

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [28]:
df_wind1.shape[0]-df_wind1.count()

Yr     0
Mo     0
Dy     0
RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [29]:
df_wind1.count().sum()

98579

### Step 8. Calculate the mean windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [89]:
df_wind=df_wind.reset_index()

In [90]:
df_wind

,Date,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [91]:
df_wind_fil=df_wind.drop(columns=['Date','Yr','Dy','Mo'])
df_wind_fil.mean()

RPT    12.362987
VAL    10.644314
ROS    11.660526
KIL     6.306468
SHA    10.455834
BIR     7.092254
DUB     9.797343
CLA     8.495053
MUL     8.493590
CLO     8.707332
BEL    13.121007
MAL    15.599079
dtype: float64

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [44]:
loc_stats=df_wind_fil.agg(['mean','min','max','std'])

In [45]:
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [50]:
day_stats=df_wind_fil.agg(['mean','min','max','std'],axis=1)

In [53]:
day_stats['Date']=df_wind.Date

In [55]:
day_stats

           mean   min    max       std       Date
0     13.018182  9.29  18.50  2.808875 1961-01-01
1     11.336364  6.50  17.54  3.188994 1961-01-02
2     11.641818  6.17  18.50  3.681912 1961-01-03
3      6.619167  1.79  11.75  3.198126 1961-01-04
4     10.630000  6.17  13.33  2.445356 1961-01-05
...         ...   ...    ...       ...        ...
6569  16.708333  8.08  40.08  7.868076 1978-12-27
6570  15.150000  5.00  41.46  9.687857 1978-12-28
6571  14.890000  8.71  29.58  5.756836 1978-12-29
6572  15.367500  9.13  28.79  5.540437 1978-12-30
6573  15.402500  9.59  27.29  5.702483 1978-12-31

[6574 rows x 5 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [61]:
df_wind_jan=df_wind.loc[df_wind.Mo== 1]

In [63]:
df_wind_jan.mean()

Yr     69.500000
Mo      1.000000
Dy     16.000000
RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [71]:
df_wind_yr=df_wind.groupby('Yr').mean()

In [72]:
df_wind_yr

,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr,,,,,,,,,,,,,,
61,6.526027,15.720548,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
62,6.526027,15.720548,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
63,6.526027,15.720548,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
64,6.513661,15.756831,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
65,6.526027,15.720548,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
66,6.526027,15.720548,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
67,6.526027,15.720548,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
68,6.513661,15.756831,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
69,6.526027,15.720548,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
70,6.526027,15.720548,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
71,6.526027,15.720548,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
72,6.513661,15.756831,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
73,6.526027,15.720548,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
74,6.526027,15.720548,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
75,6.526027,15.720548,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
76,6.513661,15.756831,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
77,6.526027,15.720548,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
78,6.526027,15.720548,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

### Step 13. Downsample the record to a monthly frequency for each location.

In [108]:
df_wind_wk=df_wind.groupby('Mo').mean()

In [109]:
df_wind_wk

,Yr,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,week_ind
Mo,,,,,,,,,,,,,,,
1,69.500000,16.000000,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763,446.184588
2,69.503937,14.614173,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142,450.618110
3,69.500000,16.000000,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317,454.641577
4,69.500000,15.500000,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611,459.000000
5,69.500000,16.000000,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039,463.358423
6,69.500000,15.500000,10.451317,8.949704,10.361315,5.652278,9.529926,6.410093,8.009556,7.920796,7.639796,7.729185,12.246407,12.861818,467.712963
7,69.500000,16.000000,9.992007,8.357778,9.349642,5.416935,9.302634,5.972348,7.843501,7.262760,7.544480,7.321416,11.676505,12.800789,472.071685
8,69.500000,16.000000,10.213411,8.415143,9.993441,5.270681,8.901559,5.891057,7.772312,6.842025,7.240573,7.002783,11.110090,12.565943,476.500000
9,69.500000,15.500000,11.458519,9.981002,10.756883,5.615176,9.766315,6.566222,8.609722,7.745677,7.610556,7.689278,12.686389,14.761963,480.855556
10,69.500000,16.000000,12.660610,11.010681,11.453943,6.065215,10.550251,7.159910,9.387778,8.726308,8.347181,8.850376,14.155323,16.697151,485.216846
11,69.500000,15.500000,13.200722,11.639500,12.293407,6.247611,10.501130,7.134333,10.814861,8.427167,8.604000,8.943167,13.815741,18.114185,489.570370
12,69.500000,16.000000,14.446398,12.353602,13.212276,6.829910,11.301254,7.963710,11.849050,9.209355,9.447258,9.627670,14.259516,18.697599,493.928315

### Step 14. Downsample the record to a weekly frequency for each location.

In [105]:
week_ind=pd.Series((df_wind.index//7)+1)
df_wind['week_ind']=week_ind

In [106]:
df_wind_week=df_wind.groupby('week_ind').mean()

In [107]:
df_wind_week

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
week_ind,,,,,,,,,,,,,,,
1,61.0,1.000000,4.000000,14.124286,12.355000,11.280000,6.900000,9.450000,6.804286,10.972857,7.055000,8.660000,8.800000,12.750000,13.035714
2,61.0,1.000000,11.000000,12.314286,8.978571,11.368571,5.135714,7.671429,5.667143,9.220000,6.932857,6.355714,8.261429,12.422857,12.411429
3,61.0,1.000000,18.000000,13.554286,10.404286,13.244286,6.357143,9.051667,7.078571,8.274286,7.845714,6.918571,7.857143,9.344286,10.981429
4,61.0,1.000000,25.000000,18.410000,13.565714,16.458571,10.524286,14.974286,12.800000,13.725714,13.272857,12.320000,13.861429,18.525714,20.607143
5,61.0,1.571429,14.285714,15.965000,16.482857,12.988571,9.091429,14.765714,10.201429,13.352857,9.221429,10.977143,10.434286,15.210000,13.180000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,78.0,12.000000,6.000000,20.210000,19.018571,17.207143,9.342857,15.452857,12.982857,15.044286,12.655714,13.810000,14.272857,17.851429,23.608571
937,78.0,12.000000,13.000000,18.908571,17.454286,16.201429,8.690000,13.190000,9.052857,11.744286,9.775714,11.300000,10.494286,14.114286,17.397143
938,78.0,12.000000,20.000000,11.327143,7.662857,12.590000,3.635714,7.532857,5.522857,6.400000,7.554286,5.788571,6.781429,10.857143,15.744286
939,78.0,12.000000,27.000000,13.285714,10.118571,13.868571,5.821429,8.661429,8.017143,12.708571,10.137143,10.761429,11.518571,12.924286,28.220000
940,78.0,12.000000,31.000000,20.330000,17.410000,27.290000,9.590000,12.080000,10.130000,19.250000,11.630000,11.580000,11.380000,12.080000,22.080000

### Step 15. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

In [112]:
df_wind_yymm=pd.read_csv('F:/analytix_labs/2. Pandas Basic Exercises/Exercise Data Files\Pandas Exercise Date Time Operations Files/wind.data')

In [118]:
df_wind_yymm['Date_yymm']=df_wind_yymm['Yr'].astype(str)+'-'+df_wind_yymm['Mo'].astype(str)

In [117]:
df_wind_yymm.groupby('Date_yymm').mean()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date_yymm,,,,,,,,,,,,,,,
61-1,61.0,1.0,16.0,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226
61-10,61.0,10.0,16.0,14.289667,10.915806,12.236452,8.154839,11.865484,8.333871,11.194194,9.271935,8.942667,11.455806,14.229355,16.793226
61-11,61.0,11.0,15.5,10.896333,8.592667,11.850333,6.045667,9.123667,6.250667,10.869655,6.313667,6.575000,8.383667,10.776667,12.146000
61-12,61.0,12.0,16.0,14.973548,11.903871,13.980323,7.073871,11.323548,8.302258,11.753548,8.163226,7.965806,9.246774,12.239355,13.098710
61-2,61.0,2.0,14.5,16.269286,14.975357,14.441481,9.230741,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78-5,78.0,5.0,16.0,8.270645,7.226774,6.901613,3.740645,6.973871,4.449677,5.420968,6.130645,5.742581,5.926452,9.263548,10.756452
78-6,78.0,6.0,15.5,11.386667,9.474333,10.253333,6.053000,10.395333,7.490333,7.928000,7.802000,8.220333,7.550000,11.501000,15.078667
78-7,78.0,7.0,16.0,12.820000,9.750968,9.910323,6.483871,10.055161,7.820645,7.831935,8.459355,8.523871,7.732903,12.648710,14.077419
78-8,78.0,8.0,16.0,9.645161,8.259355,9.032258,4.502903,7.368065,5.935161,5.650323,5.417742,7.241290,5.536774,10.466774,12.054194
78-9,78.0,9.0,15.5,10.913667,10.895000,10.635000,5.725000,10.372000,9.278333,10.790333,9.583000,10.069333,8.939000,15.680333,19.391333

### Step 16. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [121]:
df_wind.head(10)

,Date,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,week_ind
0,1961-01-01,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1
1,1961-01-02,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1
2,1961-01-03,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1
3,1961-01-04,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1
4,1961-01-05,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1
5,1961-01-06,61,1,6,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17,1
6,1961-01-07,61,1,7,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79,1
7,1961-01-08,61,1,8,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46,2
8,1961-01-09,61,1,9,12.58,10.83,10.00,4.75,10.37,6.79,8.04,10.13,7.79,9.08,13.04,15.37,2
9,1961-01-10,61,1,10,13.37,11.12,19.50,8.33,9.71,6.54,11.42,7.79,8.54,9.00,8.58,11.83,2

In [129]:
df_wind52w=df_wind[1:df_wind.shape[0]].drop(columns='week_ind').reset_index(drop=True)

In [144]:
df_wind52w['week_ind']=pd.Series((df_wind52w.index//7)+1)

In [147]:
df_wind52w.loc[week_ind<=52,['RPT','VAL','ROS','KIL','SHA','BIR','DUB','CLA','MUL','CLO','BEL','MAL']].groupby(week_ind).agg(['mean','min','max','std'],axis=1)

          RPT                                VAL                          \
         mean    min    max       std       mean    min    max       std
1   13.541429  10.58  18.50  2.631321  11.486667   6.63  16.88  3.949525
2   12.468571   9.04  19.75  3.555392   8.967143   3.54  12.08  3.148945
3   13.204286   4.92  19.83  5.337402   9.862857   3.42  14.37  3.837785
4   19.880000  13.62  25.04  4.619061  16.141429   9.96  23.91  5.170224
5   16.827143  10.58  24.21  5.251408  15.460000   9.46  24.21  5.187395
6   19.684286  16.00  24.54  3.587677  16.417143  11.54  21.42  3.608373
7   15.130000   6.04  22.50  5.064609  15.091429  11.63  20.17  3.575012
8   15.221429   7.79  25.80  7.020716  13.625714   7.08  21.50  5.147348
9   12.101429  10.96  13.33  0.997721  12.951429   8.83  17.00  2.851955
10   9.376667   4.88  14.79  3.732263  11.578571   8.08  16.96  3.230167
11  11.911429   4.92  16.88  3.860036  13.501429   9.46  15.54  2.352867
12   9.567143   6.29  15.00  3.613298   8.387143   2.58  11.63  3.657265
13  10.757143   5.88  18.25  5.046922   8.852857   3.50  16.29  4.687315
14  11.964286   4.50  18.12  4.604392  10.654286   7.04  14.62  2.845399
15   8.965714   4.71  15.50  3.937727   8.000000   4.83  12.25  2.607118
16  12.621429   4.00  21.09  5.676655  10.438571   3.71  15.41  4.631736
17  10.117143   4.08  16.29  4.349662   9.798571   6.50  14.46  2.871425
18  15.367143   9.87  23.00  5.025507  13.970000  10.29  19.79  3.750835
19   7.772857   3.54  12.79  3.371022   8.712857   3.96  15.12  3.782947
20   8.225714   4.88  15.04  3.631730   5.631667   3.58  10.17  2.468906
21   8.155714   4.96  11.79  2.739433   7.388571   3.67  12.50  3.378537
22  10.321429   7.00  15.92  3.099701   7.407143   4.75   9.79  1.868125
23  10.917143   8.29  14.42  2.248597   8.992857   6.83  11.54  1.524836
24  10.571429   6.13  14.33  3.009482   9.565714   4.12  14.54  3.509444
25   7.345714   4.00   9.00  1.982035   6.108571   3.25   9.50  2.212460
26  10.236667   7.21  13.13  2.557856   9.482857   6.34  14.37  2.902411
27  11.715714   7.29  17.50  3.664855   7.220000   3.75  10.75  2.686658
28  16.680000   8.63  22.50  5.168710  13.518571   7.87  19.29  3.849630
29   4.202857   3.04   5.88  1.047978   4.255714   2.92   6.79  1.400010
30  10.561429   6.13  16.08  4.157641   8.445714   4.63  13.79  3.203206
31  10.870000   7.67  16.08  2.950887   8.792857   5.09  15.79  3.985226
32  10.058333   2.88  14.21  4.422268   7.941429   4.42  10.00  2.053326
33  15.607143  13.13  18.91  2.283635  10.565714   7.25  13.62  2.523416
34  12.391429   7.67  18.16  3.395857  11.430000   6.87  14.58  3.174702
35   8.678571   3.63  14.46  4.398615   8.821429   1.13  22.00  7.474025
36  10.541429   5.00  17.62  5.207278   8.798571   3.04  13.59  4.003996
37  17.160000   5.33  28.75  7.679190  14.440000   7.12  22.08  5.360585
38   8.500000   6.92  10.25  1.267399   7.154286   2.92  13.62  3.445262
39  16.044286  10.34  23.21  4.559572  11.361667   6.96  13.62  2.812482
40  11.250000   3.13  16.08  5.596710   8.757143   3.63  16.96  5.060803
41  10.881667   3.71  17.12  4.780675   9.734286   6.13  13.25  2.707483
42  19.260000  10.46  28.62  7.888314  13.364286   3.75  19.46  5.998199
43  16.077143   4.33  26.42  7.957637  11.867143   2.75  21.25  6.879973
44  11.571429   5.88  15.79  3.369201   9.590000   3.96  13.46  3.900278
45  10.428571   5.46  16.08  3.939811   7.690000   5.50  10.75  2.141191
46  10.798571   7.50  15.00  2.784358   7.951429   4.21  13.00  3.208548
47   9.154286   5.75  14.29  3.214368   7.337143   3.29  11.79  3.277904
48  12.608571   7.92  23.75  5.704669  10.442857   4.67  18.71  5.107089
49  17.362857  10.83  23.71  4.890152  14.362857   9.21  21.37  4.115506
50  14.985714   9.29  21.34  4.095106  13.472857   8.63  17.62  3.587886
51  15.757143  11.46  24.41  4.959717  11.971429   9.79  16.13  2.220866
52  13.634286   5.04  20.54  5.787783   9.504286   3.08  16.04  4.566479

          ROS         ...    CLO                  BEL                          \
         mean    min  ...    max       std       mean    min    max       std
1   10.487143   7.62  ...  10.46  1.704941  12.481429   5.46  17.54  4.349139
2   11.958571   7.08  ...  14.58  4.084293  11.125714   5.25  20.71  5.552215
3   12.982857   7.29  ...  16.71  4.783952   9.821429   6.50  15.92  3.626584
4   18.225714  12.67  ...  19.95  3.713368  20.930000  14.04  27.71  5.210726
5   12.618571   9.04  ...  13.13  2.839501  14.012857   9.17  19.33  4.210858
6   17.304286  13.67  ...  17.79  1.746749  21.832857  15.21  26.38  4.063753
7   13.797143   6.13  ...  16.58  2.531361  21.167143  14.09  29.63  5.910938
8   14.334286   6.08  ...  20.04  4.920064  16.304286   9.59  23.21  5.091162
9   11.063333   8.17  ...  14.09  1.593685  17.842857  11.58  23.45  4.332331
10  10.845714   7.54  ...  15.79  3.655113  16.701429  10.21  22.71  4.358759
11  11.607143   5.25  ...  15.34  3.099472  19.350000  11.29  22.79  3.779727
12   9.695714   4.79  ...  14.50  2.538224  14.037143   8.25  21.34  4.318069
13   9.501429   5.09  ...  14.21  3.191115  13.471429   7.21  18.63  4.179854
14  13.607143   9.29  ...  10.50  2.336182  11.712857   7.62  17.16  3.147781
15   8.787143   3.92  ...   9.67  2.161137   9.482857   5.75  16.17  3.641464
16  10.255714   3.33  ...  14.37  3.347972  13.620000   6.75  19.21  4.735096
17   8.281429   2.54  ...  11.46  2.840568   9.720000   5.13  13.04  2.948237
18  13.834286   8.42  ...  17.54  3.620819  17.548571   4.79  28.08  8.003490
19   8.172857   4.63  ...  17.92  5.460237  10.421429   6.54  18.66  3.968272
20  12.042857   5.91  ...   9.29  2.216889   9.624286   6.63  12.00  1.975853
21   8.512857   3.58  ...  11.46  2.575661  10.518571   6.13  14.33  3.024524
22  10.065714   6.83  ...  12.04  2.096989  12.298571   8.71  17.00  2.611139
23   8.095714   6.04  ...  10.92  2.158323  10.148571   5.37  16.17  3.993062
24  10.875714   6.50  ...  14.71  3.792400  15.351429   7.29  25.25  6.477887
25   8.084286   5.13  ...  15.00  2.286218  14.370000  11.00  19.08  2.498386
26   8.648571   7.62  ...  12.38  1.564144  14.535714   6.96  21.87  6.303747
27   9.320000   7.41  ...  16.79  3.657179  12.220000   7.08  20.41  4.537988
28  11.171429   8.00  ...  14.92  3.271899  13.520000   5.04  20.25  4.971060
29   6.738571   4.08  ...   7.75  1.439785   7.524286   4.21  10.13  2.050218
30   9.352857   6.42  ...  15.75  4.350268  12.841429   7.87  22.17  5.580903
31   9.858571   5.54  ...  12.83  2.903018  11.595714   6.17  18.54  4.901377
32   8.728571   6.00  ...   9.92  2.073777  10.934286   5.88  14.29  2.931302
33  11.065714   9.17  ...  17.83  2.730237  14.922857   9.59  21.92  4.086725
34  12.768571   9.50  ...  15.96  3.855302  16.251429   5.75  23.38  6.711322
35   6.745714   2.42  ...  16.13  3.993736  13.664286   4.79  24.71  7.678051
36   8.185714   3.63  ...  11.71  3.649278  10.700000   5.41  15.83  4.220584
37  15.617143   7.29  ...  25.21  5.128338  19.878571  13.92  23.91  4.464252
38   7.993333   5.33  ...  10.71  2.354092  11.018571   4.54  20.96  5.235868
39  13.062857   7.87  ...  17.46  3.908397  16.208571   7.79  21.37  5.091268
40  10.167143   4.96  ...  12.21  4.296870   8.810000   4.79  17.83  4.800403
41   9.104286   4.21  ...  15.21  3.569308  14.451429   8.54  20.46  4.113200
42  15.828571   9.92  ...  26.38  5.890511  17.477143  10.88  24.71  5.645871
43  14.608571   4.79  ...  22.13  6.277629  15.592857   8.50  27.29  7.056150
44  10.827143   6.54  ...  15.79  2.784450  16.322857  10.29  20.17  4.038493
45  10.272857   3.83  ...  10.88  2.843518   9.208571   6.13  12.58  2.532196
46  16.988571   6.46  ...  14.04  4.402588   5.875714   0.71   9.59  3.643285
47   8.662857   4.42  ...  14.12  2.747452  11.772857   6.50  20.46  5.407223
48  11.481429   8.00  ...  13.00  3.680477  11.464286   5.50  19.04  5.552648
49  15.460000   9.71  ...  15.50  4.156207  15.975714  10.71  21.79  4.667933
50  13.720000   9.04  ...  17.41  4.633398  15.112857   5.50  22.83  6.531043
51  12.840000   8.08  ...  15.34  4.637096   9.958571   5.29  17.67  5.065308
52  15.804286   2.13  ...  10.83  3.526625   9.697143   3.75  13.21  3.262217

          MAL
         mean    min    max       std
1   13.238571  10.88  16.46  1.773062
2   11.024286   5.17  16.92  4.692355
3   11.434286   6.79  17.96  4.237239
4   22.530000  17.50  27.63  3.874721
5   11.935714   7.17  19.25  4.336104
6   19.155714  17.04  21.84  1.828705
7   16.584286  10.96  22.58  4.685377
8   14.322857   6.67  23.87  6.182283
9   13.951667   8.83  17.54  3.021387
10  14.420000   5.54  22.54  5.769890
11  16.227143  11.34  22.95  4.331958
12  18.134286  13.13  22.50  3.701846
13  13.900000   7.17  19.58  3.924555
14  11.371429   7.21  15.34  2.598271
15   8.690000   5.66  12.87  2.747842
16  12.470000   4.96  20.46  5.908542
17   8.637143   2.67  17.50  5.108365
18  14.571429   3.83  26.58  7.728504
19  10.382857   3.33  26.30  7.858246
20  10.612857   5.91  14.96  3.310819
21  11.697143   8.00  17.04  3.811818
22  13.597143  10.63  17.96  2.593586
23  12.250000   5.96  19.83  4.925055
24  15.025714   6.13  24.71  6.242673
25  17.410000  13.75  21.50  3.063011
26  12.133333   8.50  16.79  3.652313
27  15.987143  12.08  21.29  3.665705
28  12.524286   5.96  21.96  4.974273
29   8.415714   5.41  10.92  2.133994
30  13.761429   6.13  25.37  6.664574
31  13.760000   9.08  20.25  4.448251
32  10.125714   5.88  15.16  3.356585
33  16.626667  13.04  24.30  3.934238
34  16.485714   8.29  22.29  4.947608
35  11.022857   5.41  22.54  6.308087
36  11.034286   3.37  20.25  6.049619
37  18.984286  14.67  33.09  6.332885
38   9.814286   5.25  14.62  3.113507
39  13.338571   4.04  17.16  4.696504
40  11.410000   4.83  19.62  5.462002
41  15.260000  10.75  21.04  4.098130
42  23.641429  13.46  33.45  7.468377
43  18.404286   9.83  30.88  8.340881
44  19.195714  13.37  23.58  3.870800
45  10.858571   5.71  15.54  3.690752
46   5.737143   2.00  13.25  3.787654
47  12.732857   4.25  22.58  6.475867
48  14.725714   5.88  21.29  5.233192
49  16.241429   7.58  29.33  7.345893
50  14.644286   6.50  21.12  5.665006
51   8.164286   2.62  16.62  5.048035
52  12.840000   6.63  15.21  3.012729

[52 rows x 48 columns]